.faq-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 13.78rem 13.59rem 30.26rem 13.22rem;
    width: 100%;
    background: #FFFFFF;
}

.faq-heading {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    font-size: 6.5rem;
    line-height: 9.75rem;
    color: #000000;
}

.faq-btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11.81rem;
    width: 165rem;
    height: 16.1rem;
}

.faq-btns-wrapper .faq-btn {
    width: 79.25rem;
    height: 10.3rem;
    border-radius: 2.5rem;
    border: 0.2rem solid #C71A1A;
    color: #C71A1A;
    background: #FFFFFF;
    font-family: 'Poppins', 'sans-serif';
    font-size: 3rem;
    font-weight: 500;
    line-height: 4.5rem;
    cursor: pointer;
    outline: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.faq-btns-wrapper .faq-btn.faq-btn-active {
    color: #FFFFFF;
    background: #C71A1A80;
    border: none;
}

.faqs-wrapper {
    margin-top: 1.6rem;
    width: 165rem;
}

.faqs-wrapper .faq {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2.8rem 0;
    width: 100%;
    border-bottom: 0.1rem solid #00000033;
}

.faqs-wrapper .faq:last-child {
    border-bottom: none;
}

.faq .question-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq .question-wrapper .question {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 4.2rem;
}

.faq .question-wrapper .arrow-btn {
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
}

.faq .answer {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.6rem;
}
